---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Cheese" sideBarActiveItemID="cheese">
  <div class="pb-12 mt-5">
    <div class="text-3xl font-bold">Cheese</div>
    <div class="py-2">
      <text class="text-lg">
        One day I will write about cheese... 🧀 and figure out why this styling has gone awry.
      </text>
    </div>
  </div>
</BaseLayout>

