---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => a.data.sortOrder - b.data.sortOrder);

---

<BaseLayout sideBarActiveItemID="aws">
  <div class="pb-12 mt-5">
    <div class="text-3xl font-bold">Nigel Aukland : AWS Developer Associate</div>
    <div class="py-2">
      <text class="text-lg">
        I have put this page together to demonstrate the concepts that I've learned while studying for the 
        <a class="font-bold" href="https://aws.amazon.com/certification/certified-developer-associate/" target="_blank">
          AWS Developer Associate
        </a>
        certification. I hope you find it interesting and insightful! 
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Serving this static website</div>
  </div>

  {
    posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
